@media screen and (max-width:1024px){}
@media screen and (max-width:768px){}
@media screen and (max-width:480px){}
@media screen and (max-width:320px){}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 72px;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header #navbar-pinterest{
    display: flex;
    align-items: center;
    height: 56px;
    position: fixed;
    z-index: 2000;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#pinterest-icon{
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}
#pinterest-icon img{
    height: 24px;
    width: 24px;
}
#pinterest-icon:hover{
    background-color:lightgray;
}
a{
    text-decoration: none;
}
#navbar-pinterest p{
    font-size: 16px;
    height: 48px;
    width: 72px;
    background-color: black;
    color: white;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
#navbar-pinterest #buscador{
    display: flex;
    align-items: center;
    justify-content: center;
}
#crearselect{
    font-weight: 550;
}
select{
    border: 0px;
    height: 48px;
    width: 100px;
    padding: 0px 16px;
    font-size: 14px;
    font-weight: 300;
}
.cajabuscar{
    padding: 0px 8px;
}
.finder{
    height: 48px;
    width: 900px;
    padding: 0px 0px 0px 16px;
    font-size: 16px;
    border-radius: 24px;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-width: 0px;
    align-self: stretch;
    flex-grow: 1;
}
.finder:hover{
    background-color: rgb(209, 209, 209);
    border-color:rgba(238, 238, 238, 0.705);
}
.finder:focus{
    border-color: rgb(123, 197, 219);
    border-width: 4px;
    outline: none;
    transform: scale(1.015);
}
.finder:focus::placeholder{
    font-size: 15px;
}
#notifications{
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}
#notifications img{
    height: 24px;
    width: 24px;
    opacity: 0.6;
}
#message{
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}
#message img{
    height: 24px;
    width: 24px;
    opacity: 0.6;
}
#profile-img{
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}
#profile-img img{
    height: 24px;
    width: 24px;
    opacity: 0.6;
    border-radius: 12px;
}
#cuentas{
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}
#cuentas img{
    height: 12px;
    width: 12px;
    opacity: 0.6;
}
#notifications:hover{
    background-color:lightgray;
}
#message:hover{
    background-color:lightgray;
}
#profile-img:hover{
    background-color:lightgray;
}
#cuentas:hover{
    background-color:lightgray;
}
/******************************************************/
.main-container {
    margin-left: 80px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 200px;
    column-gap: 5px;
}
/****************************/
.card-image{
    width: 30%;
    margin: 3px;
}
.card-image img{
    height: 200px;
    width: 350px;
    border-radius: 25px;
    display: flex;
    position: absolute;
    z-index: 1;
    margin: 10px;
}
/**/
.card-image p{
    display: flex;
    margin-left: 240px;
    position: absolute;
    z-index: 0;
}
.card-image p a{
    font-style: none;
    color: white;
    background-color: rgb(236, 53, 53);
    padding: 18px;
    font-size: 18px;
    border-radius: 30px;
}
/**/
.card-image #linkfalso {
    display: flex;
    margin-left: 40px;
    margin-top: 160px;
    position: absolute;
    z-index: 0;
    font-weight: 600;
}
.card-image #linkfalso a{
    font-style: none;
    color: rgb(65, 64, 64);
    background-color: rgb(235, 233, 233);
    padding: 10px;
    font-size: 12px;
    border-radius: 30px;
}
/**/
.card-image .iconosinf a{
    height: 35px;
    width: 35px;
    background-color: rgb(201, 201, 201);
    border-radius: 17.5px;
    display: flex;
    position: absolute;
    margin-top: 160px;
    margin-left: 250px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-image .iconosinf img{
    height: 16px;
    width: 18px;
    border-radius: 0px;
}
/**/
.card-image .iconospuntos a{
    height: 35px;
    width: 35px;
    background-color: rgb(201, 201, 201);
    border-radius: 17.5px;
    display: flex;
    position: absolute;
    margin-top: 160px;
    margin-left: 300px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-image .iconospuntos img{
    height: 14px;
    width: 16px;
    border-radius: 0px;
}
/**/
.card-image img:hover{
    filter: brightness(0.8);
    z-index: 0;
}
.card-image p:hover{
    z-index: 1;
    filter: brightness(0.8);
}
.card-image a:hover{
    z-index: 1;
    filter: brightness(1.3);
}
.card-image #linkfalso:hover{
    z-index: 1;
    filter: brightness(1.3);
}
